<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapperInterface.MemberMapper">

<insert id="insert">	
	insert into member values(#{id},#{password},#{name},#{birth},#{gender})
</insert>

<select id="selectList" resultType="vo.MemberVO">
	select id, password, name, birth, gender from member order by id
</select>

<select id="selectOne" resultType="vo.MemberVO">
	select id, password, name,birth,gender from member where id=#{id}
</select>

</mapper>